/* Default components */

/* Defaults */
header {
  position: fixed;
  top: 0;
  left: 0;

  box-sizing: border-box;
  width: 100%;
  padding: 1rem 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.4rem;
  z-index: 1000;
  background-color: var(--main-white);
  nav,
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  li a {
    font-size: clamp(1.6rem, 2vw, 2rem);
    color: var(--main-text-color);
    padding: 0 1em;
  }
}

#breadcrumbs {
  display: flex;
  gap: 1rem;
  span,
  a {
    padding: 0.5rem 1rem;

    border: 1px solid var(--main-black);
    color: var(--main-black);
    line-height: 100%;
  }
}

#search-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 2000;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .content {
    position: relative;
    z-index: 10;
    background-color: var(--main-white);
    width: var(--breakpoint-sm);
    max-width: 92%;
    height: var(--breakpoint-md);
    max-height: 92%;
    overflow-y: scroll;
  }
  &.search-overlay__active {
    display: flex;
  }
}

.search-overlay__content {
  width: 100%;
}
.search-overlay__top {
  background-color: var(--light-grey);
  text-align: center;
  padding: 0.4em 1em;
}
.search-overlay__main {
  input {
    width: 100%;
    height: 5rem;
    padding: 1rem;
  }
}

.close__wrapper {
        display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: hsla(0, 0%, 0%, 0.25);
    z-index: 1;
  }

.close__button {
    position: absolute;
    top: 2vw;
    right: 2vw;
    width: 4rem;
    height: 4rem;
    &::after,
    &::before {
      content: "";
      display: block;
      height: 4px;
      width: 100%;

      position: absolute;
      
      background-color: var(--main-black);
      border-radius: 2px;
      transform-origin: center;
    }
    &::after {
      transform: rotate(45deg);
    }
    &::before {
      transform: rotate(-45deg);
    }
  }

/* Elements */
button {
  appearance: none;
  background-color: unset;
  border: unset;
  width: fit-content;
  height: fit-content;
}

.btn {
  box-sizing: border-box;
}
.btn__icon {
  vertical-align: middle;
  svg {
    width: 1em;
    height: 1em;
  }
}

.btn__rm {
  &::before {
    content: "▶︎";
    position: relative;
    z-index: 10;
    margin-right: 0.2em;
  }
}

.btn__anim-opac {
  opacity: 1;
  &:hover {
    opacity: 0.6;
  }
}

.btn__anim-bar {
  position: relative;
  box-sizing: border-box;
  width: fit-content;
  padding: 0 0.6em;
  .anim-inner {
    position: relative;
    z-index: 10;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 0%;

    background-color: var(--primary-color);
    transition: width 0.15s ease-in-out;
  }
  &:hover {
    &::after {
      width: 100%;
    }
  }
}

/* Sections */
.title-banner {
  position: relative;
  aspect-ratio: 2 / 3;

  width: 100%;

  /* color: var(--main-bg-color); */
  picture,
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
}

/* Wordpress */
nav {
  li {
    &.current_page_item a {
      color: red;
    }
  }
}
/* Small */
/* Medium */
@media screen and (min-width: 768px) {
  .title-banner {
    aspect-ratio: unset;
    height: clamp(24rem, 40vw, 40rem);
  }
}
/* Large */
/* XL */
/* XXL */
