.slide {
  display: flex;
  justify-content: end;
  box-sizing: border-box;
  padding: 10%;
  width: 100%;
  height: 100vh;
  border: 10px solid green;
  background-color: white;
  &.sticky {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    border: 10px solid red;
    z-index: 100;
  }
  &:nth-child(1) {
    background-color: aliceblue;
  }
  &:nth-child(2) {
    background-color: antiquewhite;
  }
  &:nth-child(3) {
    background-color: aqua;
  }
}
