.slide {
  display: flex;
  justify-content: end;
  padding: 10%;
  width: 100%;
  height: 100vh;
  border: 10px solid green;
  background-color: white;
  &.sticky {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    border: 10px solid red;
    z-index: 100;
  }
  &:nth-child(1) {
    background-color: aliceblue;
  }
  &:nth-child(2) {
    background-color: antiquewhite;
  }
  &:nth-child(3) {
    background-color: aqua;
  }
}

.search-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  width: 100%;
  padding: 2.4rem;
  background-color: var(--light-grey);

  border-radius: 0.5rem;
}
.search-form button[type="submit"]{
  padding: 1rem 4rem;
  
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
  color: var(--contrast-text-color);
  cursor: pointer;
  text-align: center;
}
.search-form button[type="submit"]:hover{
  opacity: 0.8;
}
.search-form-group {
  width: 100%;
}
.search-form-group label{
  align-self: center;
  font-size: 1.5em;
  text-align: center;
}

.search-form-input-row {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
}
.search-form-input-row  input{
  min-height: 2em;
  width: 100%;
  align-self: stretch;
  padding: 0.2em 1em;
}