/* Page setup css */
/* Variables */
:root {
  --main-white: #fff;
  --main-black: #000;
  --main-grey: grey;
  --light-grey: lightgrey;

  --primary-color: pink;
  --secondary-color: green;
  --main-bg-color: brown;
  --main-text-color: black;

  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;

  --font-st: Verdana, Arial, sans-serif;

  --spacing-st: clamp(4rem, 7vw, 10rem);
  --spacing-half: clamp(2.4rem, 4vw, 6rem);

  --width-mobile: 84.6%;
  --width-pc: 72%;
}
/* Resets */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html,
main,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

/* Setup */
html {
  font-size: 62.5%;
}
body {
  font-family: var(--font-st);
  font-size: 1.4rem;
  line-height: 160%;
}
main {
  padding-top: calc(2rem + 1em);
}
h1 {
  font-size: 2.4rem;
}
img {
  object-fit: contain;
  height: auto;
  max-width: 100%;
}
a {
  color: var(--main-text-color);
  text-decoration: none;
}

li {
  margin-left: 1.2em;
}

/* 
==========================
========Utilities=========
==========================
*/
/* Text */
.text-center {
  text-align: center;
}

.text-black {
  color: var(--main-black);
}
.text-white {
  color: var(--main-white);
}

/* Headlines */
.headline {
  font-family: Tahoma, var(--font-st);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 140%;
  text-transform: uppercase;
}

.headline__small {
  font-size: 1.25em;
}
.headline__medium {
  font-size: 1.5em;
}
.headline__large {
  font-size: 2em;
}

/* Sizing */
.w50 {
  width: 50%;
}
.w100 {
  width: 100%;
}
/* Layout */
.fx-col {
  display: flex;
  flex-direction: column;
}
.fx-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fx-content-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fx-row {
  display: flex;
  flex-direction: row;
}
.fx-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.fx-row-end {
  display: flex;
  flex-direction: row;
  align-items: end;
}

.gap-1 {
  gap: 1em;
}
.gap-2 {
  gap: 2em;
}
.gap-st {
  gap: var(--spacing-st);
}
.gap-half {
  gap: var(--spacing-half);
}

/* Margin */
.m-auto {
  margin: auto;
}
.mv-auto {
  margin: auto 0;
}
.mv-r1 {
  margin: 1rem inherit;
}
.mv-1 {
  margin: 1em inherit;
}
.mv-2 {
  margin: 2em inherit;
}
.mv-st {
  margin: var(--spacing-st) inherit;
}
.mv-half {
  margin: var(--spacing-half) inherit;
}
.mh-auto {
  margin: 0 auto;
}
.mh-r1 {
  margin: inherit 1rem;
}
.mh-1 {
  margin: inherit 1em;
}
.mh-2 {
  margin: inherit 2em;
}
.mh-st {
  margin: inherit var(--spacing-st);
}
.mh-half {
  margin: inherit var(--spacing-half);
}
.mt-r1 {
  margin-top: 1rem;
}
.mt-1 {
  margin-top: 1em;
}
.mt-2 {
  margin-top: 2em;
}
.mt-st {
  margin-top: var(--spacing-st);
}
.mt-half {
  margin-top: var(--spacing-half);
}
.mb-r1 {
  margin-bottom: 1rem;
}
.mb-1 {
  margin-bottom: 1em;
}
.mb-2 {
  margin-bottom: 2em;
}
.mb-st {
  margin-bottom: var(--spacing-st);
}
.mb-half {
  margin-bottom: var(--spacing-half);
}
.ml-r1 {
  margin-left: 1rem;
}
.ml-1 {
  margin-left: 1em;
}
.ml-2 {
  margin-left: 2em;
}
.ml-st {
  margin-left: var(--spacing-st);
}
.ml-half {
  margin-left: var(--spacing-half);
}
.mr-r1 {
  margin-right: 1rem;
}
.mr-1 {
  margin-right: 1em;
}
.mr-2 {
  margin-right: 2em;
}
.mr-st {
  margin-right: var(--spacing-st);
}
.mr-half {
  margin-right: var(--spacing-half);
}
/* Padding */
.p-r1 {
  padding: 1rem;
}
.p-1 {
  padding: 1em;
}
.p-2 {
  padding: 1em;
}
.pv-r1 {
  padding: 1rem 0;
}
.pv-1 {
  padding: 1em 0;
}
.pv-2 {
  padding: 2em 0;
}
.pv-st {
  padding: var(--spacing-st) 0;
}
.pv-half {
  padding: var(--spacing-half) 0;
}
.ph-r1 {
  padding: 0 1rem;
}
.ph-1 {
  padding: 0 1em;
}
.ph-2 {
  padding: 0 2em;
}
.pt-r1 {
  padding-top: 1rem;
}
.pt-1 {
  padding-top: 1em;
}
.pt-2 {
  padding-top: 2em;
}

.pt-st {
  padding-top: var(--spacing-st);
}
.pt-half {
  padding-top: var(--spacing-half);
}
.pb-r1 {
  padding-bottom: 1rem;
}
.pb-1 {
  padding-bottom: 1em;
}
.pb-2 {
  padding-bottom: 2em;
}
.pb-st {
  padding-bottom: var(--spacing-st);
}
.pb-half {
  padding-bottom: var(--spacing-half);
}
.pl-r1 {
  padding-left: 1rem;
}
.pl-1 {
  padding-left: 1em;
}
.pl-2 {
  padding-left: 2em;
}
.pr-r1 {
  padding-right: 1rem;
}
.pr-1 {
  padding-right: 1em;
}
.pr-2 {
  padding-right: 2em;
}

/* Structure */
.container {
  box-sizing: border-box;
  width: var(--width-mobile);
  max-width: var(--breakpoint-sm);
  &__full {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
  }
}

.card {
  width: 100%;
  box-sizing: border-box;
}

.card__post {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid var(--light-grey);
  padding: 1em;
  border-radius: 0.5rem;
  .img-container {
    width: 100%;
    aspect-ratio: 5 / 3;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.grid-container {
  width: 100%;
  box-sizing: border-box;
  display: grid;
}
.grid__23,
.grid__24 {
  grid-template-columns: repeat(2, 1fr);
}

/* Set user contents defaults */
.generic-contents {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    letter-spacing: 0;
  }
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.25em;
  }
  h3 {
    font-size: 1.125em;
  }
  h4 {
    font-size: 1em;
  }
  h5 {
    font-size: 0.875em;
  }
  h6 {
    font-size: 0.75em;
  }
  p {
    letter-spacing: 0.05em;
    line-height: 180%;
    font-size: 1em;
  }
}

.posts {
}
.posts__list,
.post-list-item,
.metabox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.post-list-item {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  border-bottom: 1px solid lightgrey;
  a {
    font-weight: bold;
    color: var(--main-text-color);
  }
}

#layout-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 192rem;
  margin: auto;
  .col {
    flex: 1;
    &.col__center {
      flex-basis: clamp(10rem, 70vw, 120rem);
      max-width: 120rem;
    }
  }
}

.wrapper {
  width: 100%;
  box-sizing: border-box;
}

/* Medium Screen */
@media screen and (max-width: 768px) {
  #layout-wrapper {
    &.inverse {
      flex-direction: column-reverse;
    }
  }
}
@media screen and (min-width: 768px) {
  /* Setup */
  body {
    font-size: 1.6rem;
    line-height: 180%;
  }

  .container {
    width: var(--width-pc);
    max-width: var(--breakpoint-md);
    &.container__full__pc {
      width: 100%;
      max-width: 100%;
    }
    &.container__lg {
      max-width: var(--breakpoint-lg);
    }
    &.container__xl {
      max-width: var(--breakpoint-xl);
    }
  }
  .grid__23 {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid__24 {
    grid-template-columns: repeat(4, 1fr);
  }
  #layout-wrapper {
    flex-direction: row;
  }
}
