.DS_Store
.htaccess
.env
debug.log
error_log
/node_modules
/plugins/*
!/plugins/test-plugin
!/plugins/test-plugin/**
!/plugins/word-filter
!/plugins/word-filter/**
/uploads
/upgrade
/languages
/themes/*
!/themes/gamma-banana
!/themes/gamma-banana/**
/index.php
