.DS_Store
.htaccess
.env
debug.log
error_log
/node_modules
/plugins/*
!/plugins/test-plugin
!/plugins/test-plugin/**
!/plugins/word-filter
!/plugins/word-filter/**
!/plugins/le-quiz-block
!/plugins/le-quiz-block/**
!/plugins/le-featured-custom-block
!/plugins/le-featured-custom-block/**
!/plugins/glossary-maker
!/plugins/glossary-maker/**
/uploads
/upgrade
/languages
/themes/*
!/themes/gamma-banana
!/themes/gamma-banana/**
/index.php
